#!/usr/bin/env python
PACKAGE = "geometric_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# geometric_controller

controller_enum = gen.enum([
    gen.const("legacy_geometric", int_t, 0, "Current legacy geometric controller"),
    gen.const("main_geometric", int_t, 1, "main.m geometric controller adapted to PX4 body-rate interface"),
    gen.const("main_lee", int_t, 2, "main.m Lee controller adapted to PX4 body-rate interface"),
    gen.const("main_johnson", int_t, 3, "main.m Johnson controller adapted to PX4 body-rate interface"),
    gen.const("main_sun_dfbc", int_t, 4, "main.m Sun DFBC controller adapted to PX4 body-rate interface"),
    gen.const("main_sun_dfbc_indi", int_t, 5, "main.m Sun DFBC INDI outer path adapted to PX4 body-rate interface"),
    gen.const("main_tal", int_t, 6, "main.m Tal controller outer path adapted to PX4 body-rate interface"),
    gen.const("main_geometric_indi", int_t, 7, "main.m geometric INDI outer path adapted to PX4 body-rate interface"),
], "Controller algorithm")

gen.add("controller_type", int_t, 0, "Controller algorithm", 0, 0, 7, edit_method=controller_enum)
gen.add("cmdloop_rate", double_t, 0, "Body-rate command loop frequency [Hz]", 250.0, 20.0, 500.0)
gen.add("max_acc", double_t, 0, "Max Feedback Acceleration", 10.0, 1.0, 20.0)
gen.add("normalizedthrust_constant", double_t, 0, "Thrust normalization scale", 0.0220, 0.0, 0.2)
gen.add("normalizedthrust_offset", double_t, 0, "Thrust normalization offset", 0.0, 0.0, 0.5)
gen.add("Kp_x",    double_t,    0, "Proportional gain for X position error", 10.0, 0.1, 20.0)
gen.add("Kp_y", double_t, 0, "Proportional gain for Y position error", 10.0, 0.1, 20.0)
gen.add("Kp_z", double_t, 0, "Proportional gain for Z position error", 20.0, 0.1, 20.0)
gen.add("Kv_x",    double_t,    0, "Proportional gain for X velocity error", 5.0, 0.1, 20.0)
gen.add("Kv_y", double_t, 0, "Proportional gain for Y velocity error", 5.0, 0.1, 20.0)
gen.add("Kv_z", double_t, 0, "Proportional gain for Z velocity error", 10.0, 0.1, 20.0)
gen.add("KR_r", double_t, 0, "Attitude gain for roll error", 4.0, 0.1, 20.0)
gen.add("KR_p", double_t, 0, "Attitude gain for pitch error", 4.0, 0.1, 20.0)
gen.add("KR_y", double_t, 0, "Attitude gain for yaw error", 4.0, 0.1, 20.0)

exit(gen.generate(PACKAGE, "geometric_controller", "GeometricController"))
