#!/usr/bin/env python
PACKAGE = "geometric_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# geometric_controller

gen.add("max_acc", double_t, 0, "Max feedback acceleration", 10.0, 1.0, 20.0)
gen.add("attctrl_constant", double_t, 0, "Attitude control time constant", 0.3, 0.05, 1.0)
gen.add("normalizedthrust_constant", double_t, 0, "Thrust normalization scale", 0.06, 0.01, 0.2)
gen.add("normalizedthrust_offset", double_t, 0, "Thrust normalization offset", 0.1, 0.0, 0.5)
gen.add("Kp_x", double_t, 0, "Proportional gain for X position error", 10.0, 0.1, 30.0)
gen.add("Kp_y", double_t, 0, "Proportional gain for Y position error", 10.0, 0.1, 30.0)
gen.add("Kp_z", double_t, 0, "Proportional gain for Z position error", 20.0, 0.1, 40.0)
gen.add("Kv_x", double_t, 0, "Proportional gain for X velocity error", 5.0, 0.1, 30.0)
gen.add("Kv_y", double_t, 0, "Proportional gain for Y velocity error", 5.0, 0.1, 30.0)
gen.add("Kv_z", double_t, 0, "Proportional gain for Z velocity error", 10.0, 0.1, 30.0)

exit(gen.generate(PACKAGE, "geometric_controller", "GeometricController"))
