#!/usr/bin/env python
PACKAGE = "geometric_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# geometric_controller
# Matrix parameters are exposed per axis because dynamic_reconfigure does not
# provide an Eigen/matrix parameter type.

controller_enum = gen.enum([
    gen.const("legacy", int_t, 0, "Original package controller"),
    gen.const("geometric", int_t, 1, "Geometric controller"),
    gen.const("lee", int_t, 2, "Lee controller"),
    gen.const("johnson", int_t, 3, "Johnson controller"),
    gen.const("geometric_indi", int_t, 7, "Geometric INDI controller"),
], "Controller choices")

gen.add("controllerName", int_t, 0, "controllerName", 0, 0, 7, edit_method=controller_enum)
gen.add("attctrl_constant", double_t, 0, "Legacy attitude control time constant", 0.3, 0.05, 1.0)
gen.add("normalizedthrust_constant", double_t, 0, "Specific-force to normalized thrust scale", 0.02202, 0.001, 0.2)
gen.add("normalizedthrust_offset", double_t, 0, "Additive normalized thrust offset", 0.0, 0.0, 0.5)
gen.add("Kp_x", double_t, 0, "Proportional gain for X position error", 10.0, 0.1, 30.0)
gen.add("Kp_y", double_t, 0, "Proportional gain for Y position error", 10.0, 0.1, 30.0)
gen.add("Kp_z", double_t, 0, "Proportional gain for Z position error", 10.0, 0.1, 40.0)
gen.add("Kv_x", double_t, 0, "Proportional gain for X velocity error", 6.0, 0.1, 30.0)
gen.add("Kv_y", double_t, 0, "Proportional gain for Y velocity error", 6.0, 0.1, 30.0)
gen.add("Kv_z", double_t, 0, "Proportional gain for Z velocity error", 6.0, 0.1, 30.0)
gen.add("KR_x", double_t, 0, "Roll attitude error angular-acceleration gain", 3.0, 0.1, 300.0)
gen.add("KR_y", double_t, 0, "Pitch attitude error angular-acceleration gain", 3.0, 0.1, 300.0)
gen.add("KR_z", double_t, 0, "Yaw attitude error angular-acceleration gain", 2.0, 0.1, 300.0)
gen.add("KOmega_x", double_t, 0, "Roll rate angular-acceleration gain divisor", 1.0, 0.01, 300.0)
gen.add("KOmega_y", double_t, 0, "Pitch rate angular-acceleration gain divisor", 1.0, 0.01, 300.0)
gen.add("KOmega_z", double_t, 0, "Yaw rate angular-acceleration gain divisor", 1.0, 0.01, 300.0)
gen.add("indiAccelFeedback", double_t, 0, "Acceleration INDI feedback blend; 1.0 is the pure incremental law", 1.0, 0.0, 2.0)
gen.add("indiFilterCutoffHz", double_t, 0, "Acceleration INDI feedback LPF cutoff; <=0 disables filtering", 30.0, 0.0, 120.0)

exit(gen.generate(PACKAGE, "geometric_controller", "GeometricController"))
